body{
    margin:0px;
    padding:0px;
}
nav{
    width:100%;
    height:12%;
    /* display:inline-block; */
    position:fixed;
    background-color:rgba(255, 255, 255, 0.904);
}
/*Horizontal lists*/
.text-center{
    text-align:center;
}
.horizontal-list{
    list-style:none;
    margin-left:65vw;
}
.horizontal-list li{
    display:inline-block;
    margin:0px 5px 8px 5px;
    font:18px Karla, Arial, sans-serif;
    padding:6px 8px;
}
.horizontal-list li a{
    text-decoration:none;
    color:black;
}
.horizontal-list li a:hover{
    text-decoration:underline;
}
.buttons{
    height:1.6rem;
    width:4.5rem;
    font:12px Karla, Arial, sans-serif;
    background:blue;
    color:white;
    font-weight:600;
    border-radius:25px;
    border:none;
    cursor:pointer;
}
/*Different courses*/
.container{
    height:90vh;
    width:100vw;
    background-color:cyan;
}
.course-div-container{
    display:flex;
    padding:30px 100px;
}
.course-div{
    width:250px;
    height:270px;
    border:2px solid black;
    margin-left:20px;
}
.heading{
    font:27px Karla Arial sans-serif;
    text-decoration:underline;
    font-weight:600;
    padding:8px;
}
.para{
    font:21px Karla Arial sans-serif;
}
.see-all-button{
    height:2.1rem;
    width:6rem;
    border-radius:25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    font-family: var(--font-inherit,inherit);
    white-space: nowrap;
    transition: all 0.1s ease-out;
    background-color: var(--linky);
}


